#### ***Dictionaries in Python***
---
* Python dictionaries are a collection of some *key-value* pairs.
* Some points regarding dicitonaries :
  * Dictionaries are mutable,ordered collections
  * Keys are immutable while values are mutable & can be duplicate.
  * Syntax :

    dictionary-name = { key : value, key : value,... }

  * currly brackets mark the beginning and end of dictionary
  * each entry (key : value) consists of a pair separated by a colon- the key and corresponding value.
  *the key-value pairs are separated by commas.
  ---

In [ ]:
#Creating empty dictionary
print('Empty dictionary======================>')
d = {}
print(type(d))

#Creating a dicitonary 
print('\nSimple Dictionary======================>')
d1 = {1:'Apple',2:'Banana',3:'Strawberry',4:'Orange',5:'Tangerine'}
print(d1)
print(type(d1))

#User input dicitonary
print('\nUser Input============================>')
n = int(input('Enter total pairs in dictionary d2 :\n'))
d2 = {}

for i in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")

    d2[key] = value

print(d2)

Empty dictionary======================>
<class 'dict'>

Simple Dictionary======================>
{1: 'Apple', 2: 'Banana', 3: 'Strawberry', 4: 'Orange', 5: 'Tangerine'}
<class 'dict'>

User Input============================>
Enter total pairs in dictionary d2 :
4
Enter key: A
Enter value: 10
Enter key: B
Enter value: 20
Enter key: C
Enter value: 30
Enter key: D
Enter value: 20
{'A': '10', 'B': '20', 'C': '30', 'D': '20'}

#### ***Accessing Elements in Dictionary***
---
* In dictionary, elements are accessed through the keys defined in the key: value pairs.
---

In [ ]:
print(d2['A'])

#print(d2[B])
#Attempting to access a key that doesn't exist causes an error

#Accessing keys or values simultaneously 
print('\nKeys & Values======================>')
print(d2.keys())
print(d2.values())

10

Keys & Values======================>
dict_keys(['A', 'B', 'C', 'D'])
dict_values(['10', '20', '30', '20'])

#### ***Dictionary operations***
---
* Traversing 
* Adding elements 
* Updating existing elements 
* Deleting elements 
* Checking existence of a key 
---

In [ ]:
# Travering 
print('Traversal=======================>')
dictionary1 = {1:'number','a':'string',8.1 : 'float', (2,3) : "tuple" }
for key in dictionary1:
  print(key,':',dictionary1[key])

#Adding elements 
print('\nAddition of elements===========>')
emp = {'eid' : 'A101', 'ename' : 'John Doe' , 'designation' : 'SR dev' , }
print(emp)
emp['age'] = 28
print(emp)

#Updation 
print('\nUpdation of existing elements============>')
emp['eid'] = 'B101'
print(emp)

#Deletion
print('\nDeleting elements==================>')
#Here we have 2 methods; One is del and other is pop
# del method 
print('\n-----------del method--------------')
del emp['age']
print(emp)

# If key doesn't exist which we are going to delete then Python returns error
# del emp['dept']

# pop method 
print('\n-----------pop method--------------')
dictionary1.pop('a')
print(dictionary1)

# Pop allows user to specify what to display when the given key does not exist
# dictionary1.pop(99,'No key found')

#Existence of key
print('\nExistence of key=======================>')
a = 1 in dictionary1
print(a)
b = 'salary' not in dictionary1
print(b)

Traversal=======================>
1 : number
a : string
8.1 : float
(2, 3) : tuple

Addition of elements===========>
{'eid': 'A101', 'ename': 'John Doe', 'designation': 'SR dev'}
{'eid': 'A101', 'ename': 'John Doe', 'designation': 'SR dev', 'age': 28}

Updation of existing elements============>
{'eid': 'B101', 'ename': 'John Doe', 'designation': 'SR dev', 'age': 28}

Deleting elements==================>

-----------del method--------------
{'eid': 'B101', 'ename': 'John Doe', 'designation': 'SR dev'}

-----------pop method--------------
{1: 'number', 8.1: 'float', (2, 3): 'tuple'}

Existence of key=======================>
True
True

#### ***Dictionary Methods***
---
* len( ) 
* clear ( )
* get ( )
* items ( )
* keys ( ) 
* values ( ) 
* update ( )
---

In [ ]:
# len () 
print('len method============>')
print('Length of dictionary1 is :', len(dictionary1))

#clear ()
#clear method removes all the elements of a dictionary and returns an empty dictionary while del removes the complete dictionary as an object 
print('\nclear method============>')
dict1 = {12:'number','abc':'string',8.132 : 'float', (2,3,'hello') : "tuple" }
print(dict1)
dict1.clear()
print(dict1)

#get ()
print('\nget method=============>')
emp_name = emp.get('ename')
print(emp_name)
#items ()
print('\nitems method==============>')
mylist = [] 
for a in emp.items() :
  mylist.append(a)
  print(mylist)
  
#update ()
print('\nupdate method================>')
emp1 = {'eid':101,'ename':'John','age':24}
emp2 = {'fid':102,'fname':'Jim','age':29}
emp1.update(emp2)
print(emp1)

len method============>
Length of dictionary1 is : 0

clear method============>
{12: 'number', 'abc': 'string', 8.132: 'float', (2, 3, 'hello'): 'tuple'}
{}

get method=============>
John Doe

items method==============>
[('eid', 'B101')]
[('eid', 'B101'), ('ename', 'John Doe')]
[('eid', 'B101'), ('ename', 'John Doe'), ('designation', 'SR dev')]

update method================>
{'eid': 101, 'ename': 'John', 'age': 29, 'fid': 102, 'fname': 'Jim'}

### ***Sets in Python***
---
* A set is an unordered collection of unique elements, meaning that each element in a set can only appear once.
* You can create a set in Python using curly braces { } or the set( ) function.
---

In [ ]:
#Creating empty set 
print('Empty set----------------------->')
my_set = set()
print(type(my_set))
print()
s = {}
# print(type(s)) It's dictionary but not a set
s = set()
print(type(s))

#Creating a set 
print('\nSet-------------------------------->')
s1 = {1,2,3.4,'242'}
print(s1)
print(type(s1))
print()
#You can't have duplicate items in set, set will automatically remove duplicate elements
s2 = {1,2,2,2,3,3,1,4,5}
print(s2)

# You can't access elements of set as they are not indexed 
# print(s2[3]) TypeError: 'set' object is not subscriptable

#Creating user input set
print('\nUser Input Set------------------------->')
s3 = set(input('enter the elements of set'))
print(s3) #Order of elements will be random but duplicate values will not be present 
print(type(s3))

Empty set----------------------->
<class 'set'>

<class 'set'>

Set-------------------------------->
{1, 2, 3.4, '242'}
<class 'set'>

{1, 2, 3, 4, 5}

User Input Set------------------------->
enter the elements of set1222857
{'7', '2', '8', '5', '1'}
<class 'set'>

#### **Set Operations**
---
* Accessing Items
* Add Item
* Remove Item

In [ ]:
#Accessing elements in set 
#Set's elements can't be referred using index or key.
print('Accessing items----------------->')
tset = {'apple',1,'windows',2}
for x in tset:
  print(x)
print()
#Checking if element is there in set or not
print('winows' in tset)

print('\nAdding Item----------------------->')
#We can't change items in set but we can add new items

#There are two methods to do so; add() & update()
print('\n==========add()==============')
bset = {'oreo','marie','bourboun','jimjam'}
print(bset)
bset.add('parle-g')
print(bset)
#add () won't allow other objects such as list,tuple,etc to be added to set 
#bset.add([1,2,3])  TypeError: unhashable type: 'list'

print('\n==========update()==============')
#update will allow to add other objects to set
bset.update([1,2,3])
print(bset)

#Removing items
print('\nRemoving Item----------------->')
# To remove an item from set we can use remove() and discard()
cset={'Ferrari','Audi','BMW','RR'}
print('\n==========remove()==============')
#If item to remove does not exist, remove() will raise an error
print(cset)
cset.remove('RR')
#cset.remove('Toyota')
print(cset)
print('\n==========discard()==============')
fset = {"apple", "banana", "cherry"}
fset.discard("banana")
#If item to discard does not exist, discard() will not raise an error
fset.discard('strawberry')
print(fset)

#Sets are unordered, so if we use pop() method then randomly item will be removed
# cset.pop()
#print(cset)

# clear() method will clear a set while del keyword will delete set completely
# cset.clear()
# print(cset)
print()
# del cset
# print(cset) Generates error

Accessing items----------------->
windows
1
apple
2

False

Adding Item----------------------->

==========add()==============
{'marie', 'bourboun', 'oreo', 'jimjam'}
{'marie', 'bourboun', 'oreo', 'parle-g', 'jimjam'}

==========update()==============
{'marie', 1, 2, 3, 'bourboun', 'oreo', 'parle-g', 'jimjam'}

Removing Item----------------->

==========remove()==============
{'Audi', 'RR', 'BMW', 'Ferrari'}
{'Audi', 'BMW', 'Ferrari'}

==========discard()==============
{'cherry', 'apple'}

#### **Set methods**
---
* Union 
* Intersection
* Differenence 
* Symmetric Difference

**Union**

---
The union of two sets is a set containing all the unique elements from both sets. In Python, we can perform union operation using the union( ) or | operator.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = set([4, 5, 6, 7, 8])

union_set = set1.union(set2)
print(union_set)

print('----------------------------------')

# using '|' operator
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}
----------------------------------
{1, 2, 3, 4, 5, 6, 7, 8}

**Intersection**

---
The intersection of two sets is a set containing only the elements that are present in both sets. In Python, we can perform intersection operation using the intersection( ) or & operator.

In [ ]:
intersection_set = set1.intersection(set2)
print(intersection_set)

print('-----------------------------------')
# using '&' operator
intersection_set = set1 & set2
print(intersection_set)

{4, 5}
-----------------------------------
{4, 5}

**Difference**

---
The difference between two sets is a set containing only the elements that are present in one set but not the other. In Python, we can perform difference operation using the difference( ) or - operator.

In [ ]:
diff_set = set1.difference(set2)
print(diff_set)

print('-----------------------------')

# using '-' operator
diff_set = set1 - set2
print(diff_set)

{1, 2, 3}
-----------------------------
{1, 2, 3}

**Symmetric Difference**

---
The symmetric difference between two sets is a set containing only the elements that are present in one set or the other, but not both. In Python, we can perform symmetric difference operation using the symmetric_difference( ) or ^ operator.

In [ ]:
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)

print('-------------------------')

# using '^' operator
sym_diff_set = set1 ^ set2
print(sym_diff_set)

{1, 2, 3, 6, 7, 8}
-------------------------
{1, 2, 3, 6, 7, 8}