#### ***Tuples in Python***
---
* Tuples are depicted through round brackets ( ).
* These are immutable sequences.
---

In [ ]:
#No element tuple
print('Empty Tuple-----------------')
a = () 
b = tuple()
print(type(a))
print(type(b))

#Single element in Tuple
print('\nSingle element Tuple-------------')
t =(1,)
t1 = (1) #Remember here a single element is not treated as tuple but as individual entity such as in our case 1 is treated as int
print(type(t))
print(type(t1))

#Creating a tuple with n elements 
print('\nTuple-----------------')
t2 = (1,'2',3.0)
print(t2)
print(type(t2))

#Creating tuple from user input 
print('\nUser INPUT---------------')
x = eval(input("Enter the tuple elements for x :\n")) # eval() function parse the expression argument and evaluate it
y = tuple(input("Enter the tuple elements for y : \n")) #Tuple method parse each value as a separate element for tuple
print(x)
print(y)
print(type(x))
print(type(y))

Empty Tuple-----------------
<class 'tuple'>
<class 'tuple'>

Single element Tuple-------------
<class 'tuple'>
<class 'int'>

Tuple-----------------
(1, '2', 3.0)
<class 'tuple'>

User INPUT---------------
Enter the tuple elements for x :
(2,"Hello",3)
Enter the tuple elements for y :
(2,"Hello",3)
(2, 'Hello', 3)
('(', '2', ',', '"', 'H', 'e', 'l', 'l', 'o', '"', ',', '3', ')')
<class 'tuple'>
<class 'tuple'>

#### ***Tuple Operations***
---
* Traversal 
* Joining tuples
* Replication 
* Slicing 
* Unpacking Tuples
---

In [ ]:
#Traversing a tuple 
print('Traversing tuple------------------')
t = ('C','o','d','i','n','g')
for a in t:
  print(a)

#Joining tuple
print('\nJoining tuple-------------------')
tp1=(1,2,3)
tp2=(4,5,6)
tp3=tp1+tp2
print(tp3)

#==============Remember====================
# tp1 + (7)
# Python will return an error : TypeErrror : can only concatenate tuple (not 'int') to tuple

#Repeating tuple
print('\nReplicating tuple---------------------')
tpl = tp1 * 3
print(tpl) 

#Slicing Tuple 
print('\nSlicing tuple--------------------------')
tp4=(10,20,22,20,33,45,56,64,76,88,91,93,94,100)
seq = tp4[3:7]
print(seq)
seq1=tp4[0:11:2]
print(seq1)

#Unpacking tuples 
# Creating a tuple from a set of values is called packing and it's reverse i.e, creating individual values from a tuple's elements is called unpacking.
print('\nUnpacking tuple---------------------')
t = (1,2,3,'a','b','c')
a,b,c,d,e,f = t
print(a,'==',b,'==',c,'==',d)

Traversing tuple------------------
C
o
d
i
n
g

Joining tuple-------------------
(1, 2, 3, 4, 5, 6)

Replicating tuple---------------------
(1, 2, 3, 1, 2, 3, 1, 2, 3)

Slicing tuple--------------------------
(20, 33, 45, 56)
(10, 22, 33, 56, 76, 91)

Unpacking tuple---------------------
1 == 2 == 3 == a

#### ***Tuple Methods***
---
* len( )
* max ( )
* min ( )
* index ( )
* count ( )
* tuple ( )
---

In [ ]:
#Tuple methods 
# len() 
print('\nlen()----------------')
t = (1,23,435,6234,15415,1512361)
print(len(t))

#max() & min() 
print('\nmax()------------------')
t1 = (1,2,3,4,5,6,9)
t2 = ('a','b','c','d','e','z')
print(max(t1))
print(max(t2))
print('\nmin()-------------------')
print(min(t1))
print(min(t2))

#index()
print('\nindex()------------------')
t3 = [2,2.4,5,'hello']
print(t3.index(2))
print(t3.index('hello'))
# If the given item does not exist in tuple, it raises ValueError

#count()
print('\ncount()-----------------------')
t5 = (1,2,3,24,2,2,2,2,2,2,32,24,24,24,242)
print(t5.count(2))
print(t5.count(24))

#tuple()
print('\ntuple()------------------------')
a = tuple('abc')
print(a)
b = tuple([1,2,3,'hello',3.13])
print(b)
print(type(b),'\n',type(a))

len()----------------
6

max()------------------
9
z

min()-------------------
1
a

index()------------------
0
3

count()-----------------------
7
4

tuple()------------------------
('a', 'b', 'c')
(1, 2, 3, 'hello', 3.13)
<class 'tuple'>
 <class 'tuple'>